@font-face {
  font-family: "MonaspaceKrypton";
  src:
    url("fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2") format("woff2"),
    url("fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff") format("woff");
  font-weight: 200 800;
  font-style: oblique -11deg 0deg;
}
@font-face {
  font-family: "MonaspaceArgon";
  src:
    url("fonts/MonaspaceArgonVarVF[wght,wdth,slnt].woff2") format("woff2"),
    url("fonts/MonaspaceArgonVarVF[wght,wdth,slnt].woff") format("woff");
  font-weight: 200 800;
  font-style: oblique -11deg 0deg;
}
@font-face {
  font-family: "MonaspaceNeon";
  src:
    url("fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2") format("woff2"),
    url("fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff") format("woff");
  font-weight: 200 800;
  font-style: oblique -11deg 0deg;
}
@font-face {
  font-family: "MonaspaceRadon";
  src:
    url("fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff2") format("woff2"),
    url("fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff") format("woff");
  font-weight: 200 800;
  font-style: oblique -11deg 0deg;
}
@font-face {
  font-family: "MonaspaceXenon";
  src:
    url("fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff2") format("woff2"),
    url("fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff") format("woff");
  font-weight: 200 800;
  font-style: oblique -11deg 0deg;
}


/*
font utility classes
 */

.monaspace-radon{
  font-family: MonaspaceRadon, monospace;
}

.monaspace-xenon{
  font-family: MonaspaceXenon, monospace;
}

.monaspace-argon{
  font-family: MonaspaceArgon, monospace;
}

.monaspace-krypton{
  font-family: MonaspaceKrypton, monospace;
}

.monapsace-neon{
  font-family: MonaspaceNeon, monospace;
}
