{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7 text-center flex flex-col md:flex-row">
          <div class="w-full md:w-1/2 order-2 md:order-1">
            <h2 class="h3 mb-6">{{ .Title }}</h2>
            <div class="content">{{ .Content }}</div>

          </div>
          <div class="w-full md:w-1/2 order-1 md:order-2">
            {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6" "Size" .Params.image_size) }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
